html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.login-form, .calculator {
  width: 50%;
}

label{
  width: 20%;
  text-transform: uppercase;
}

span{
  color: red;
}
h1,.input{
  display: flex;
  justify-content: center;
}